<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock -%}
    <link rel="stylesheet" href="/pico.css" />
    <link rel="shortcut icon" href="/icon.png" />
    <style>
      body {
        padding: 4px;
      }
    </style>
  </head>
  <body>
    {%- block body %}{% endblock -%}
    <script src="./htmx.js"></script>
  </body>
</html>
