---
import RootLayout from "src/RootLayout.astro";
import RentRecord from "@components/RentRecord/RentRecord.svelte";
import { get_rent_record_data } from "@components/get_data";

export const prerender = false;

const data = await get_rent_record_data();
---

<RootLayout
  title="Rent Record Analyser"
  description="A Simple House Rent Record Analyser"
>
  <!-- Using svelte for templating but could also be done directly, this is to avoid the nested map function -->
  <div class="container">
    <RentRecord data={data} />
  </div>
</RootLayout>
