---
import RootLayout from "src/RootLayout.astro";
import RentRecord from "@components/RentRecord/RentRecord.svelte";
import { type dtType } from "@components/RentRecord/get_data";
import { base_fetch } from "@tools/deta";

export const prerender = false;

const getRawData = async () => {
  let lst: any[] = [];
  let last: string = null!;
  while (true) {
    const dt = await base_fetch("rent_data", last);
    lst = lst.concat(dt.items);
    last = dt.paging.last!;
    if (!last) break;
  }
  return lst as dtType[];
};
const data = await getRawData();
---

<RootLayout
  title="Rent Record Analyser"
  description="A Simple House Rent Record Analyser"
>
  <!-- Using svelte for templating but could also be done directly, this is to avoid the nested map function -->
  <div class="container" data-theme="dark">
    <RentRecord data={data} />
  </div>
</RootLayout>
