---
import RootLayout from "src/RootLayout.astro";

export const prerender = true;
---

<RootLayout title="Rent App Installer">
  <button id="install_btn">Install</button>
  <script>
    let install_prompt: any = null!;
    const install_button = document.querySelector("#install_btn")!;

    window.addEventListener("beforeinstallprompt", (event) => {
      event.preventDefault();
      install_prompt = event;
    });

    install_button.addEventListener("click", async () => {
      if (!install_prompt) return;
      await install_prompt.prompt();
    });
  </script>
</RootLayout>
