---
import RootLayout from 'src/RootLayout.astro';
import EditRecords from '@components/EditRecords/EditRecords.svelte';
import { get_rent_record_data } from 'src/components/get_data';

export const prerender = false;

const data = await get_rent_record_data();
---

<RootLayout title="Rent Record Editor" theme="dark">
  <!-- Using svelte for templating but could also be done directly, this is to avoid the nested map function -->
  <div class="container">
    <EditRecords data={data} client:load />
  </div>
</RootLayout>
